@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap'); 

body {
    max-width: 980px;
    margin: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 7fr;
    font-family: 'PT Mono', monospace;
}

header nav .logo {
    display: flex;
    justify-content: flex-start;
    width: "600"; }

header nav .menu li a {
    display: flex;
    justify-content: center;
    color: rgba(18, 47, 53, 0.863);
    text-decoration: none;
    font-size: 50px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 5px;
}

div li {
    list-style: none;
}
@media (min-width: 500px) {
    header nav {
        display: flex;
    }
    header .menu {
        flex: 1;
    }
}
header .banner {
    background-image: url(../img/title.jpg);
    background-position: center;
    background-size: cover;
    min-height: 480px;
}